/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #fdfdfd;
  color: #333;
}

/* Header */
.main-header {
  text-align: center;
  padding: 50px;
  background: url('https://cdn.discordapp.com/attachments/1324183343436402731/1324183379234521140/taipai-2078194.jpg?ex=6777395f&is=6775e7df&hm=ccd85826436fdc0b993ca8498f41ba5e2120f5c41877f03d26166b5f93812cea&') no-repeat center center/cover;
  color: white;
}

.main-header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.main-header p {
  font-size: 1.2rem;
  margin-top: 0;
}

/* Main Section */
.tour-dates {
  text-align: center;
  padding: 20px;
}

.tour-dates h2 {
  font-size: 2rem;
  color: crimson;
}

.tour-dates ul {
  list-style: none;
  padding: 0;
}

.tour-dates li {
  font-size: 1.1rem;
  margin: 10px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: crimson;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}

.button:hover {
  background-color: darkred;
}

/* Footer */
.main-footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

.social-links a {
  color: crimson;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}
